
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CadastroRapidp</title>
</head>
<body>
    <h3>Cadastro Rapido</h3>

    <div class="form-group">
        <label for="campo-nome">Nome</label>
        <input type="text" id="campo-nome" class="form-control" />
    </div>

    <div class="form-group">
        <label for="campo-marca">Marca</label>
        <input type="text" id="campo-marca" class="form-control" />
    </div>
    <div class="form-group">
        <label for="campo-preco">Preco</label>
        <input type="text" id="campo-preco" class="form-control" />
    </div>
    <div class="form-group">
        <label for="campo-estoque">Estoque</label>
        <input type="text" id="campo-estoque" class="form-control" />
    </div>

    <button id="salvar" class="btn btn-primary">Salvar</button>
</body>
</html>
